---
layout: default
---
<article class="post">
  <header class="post-header">
    {% if page.title %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% else %}
    <h1 class="post-title">{{ site.title | escape }}</h1>
    {% endif %}
  </header>

  {{ content | toc }}

  <div class="post-content">
    {{ content }}
  </div>

  ✍️ Löysitkö kirjoitusvirheen? Tee <a href="/korjausehdotus">korjausehdotus</a> muokkaamalla <a href="{{site.repo_url}}/blob/master/{{page.path}}">tätä</a> tiedostoa GitHubissa.
</article>
