---
layout: default
---
<article class="post">
  <header class="post-header">
    {% if page.title %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% else %}
    <h1 class="post-title">{{ site.title | escape }}</h1>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  ✍️ Did you find a typo? Make a <a href="/en/corrections">correction</a> by editing <a href="{{site.repo_url}}/blob/master/{{page.path}}">this</a> file on GitHub.
  <br>
  ✍️ Löysitkö kirjoitusvirheen? Tee <a href="/fi/corrections">korjausehdotus</a> muokkaamalla <a href="{{site.repo_url}}/blob/master/{{page.path}}">tätä</a> tiedostoa GitHubissa.
</article>
